@page "/"
@inject IForumService ForumService
@using HttpClient.ClientInterface
@using Domain
@inject NavigationManager navMgr


<AuthorizeView>
    <Authorized>
        
        @if (!string.IsNullOrEmpty(msg)) @* display any msg in case it has ny value in case of error*@
        {
            <div>
                <span>@msg</span>
            </div>
        }

        @if (forums == null)
        {
            <span>Loading..</span>
        }
        else if (!forums.Any())
        {
            <span>No forums to be found</span>
        }
        else
        {
            @* <button @onclick="GotoCreatePost">Create Forum</button> *@
            <div class="container-fluid">

                <div class="container">
                    <img class="image-create"src="images/create+cross+new+plus+icon-1320168707626274697.png" style="cursor: pointer"  @onclick="GotoCreateForum"/>
                    <label class="h5 my-3" style="cursor: pointer" @onclick="GotoCreateForum">Create Post</label>
                </div>
                
                @foreach (Forum forum in forums)
                {
                    <div class="card my-5">
                        <div class="forum">
                            <div class="card-title mx-2 my-1">
                                <img class="image-clock mx-1" src="images/clock.png"/>@forum.CreatedOn |
                                <img class="image-clock mx-1" src="images/author1.jpg"/>@forum.CreatedBy

                            </div>
                            <div class="card-title mx-2 h2"style="cursor: pointer" @onclick="() => OpenDetail(forum.Id)">
                                @forum.Title
                            </div>
                            <div class="card-footer" style="background-color: #2002">
                                <img class="rating" src="images/star.png" alt=""/>
                                <img class="rating" src="images/star.png" alt=""/>
                                <img class="rating" src="images/star.png" alt=""/>
                            </div>

                        </div>
                    </div>

                }
            </div>
        }

    </Authorized>
    <NotAuthorized>
        @if (!string.IsNullOrEmpty(msg)) @* display any msg in case it has ny value in case of error*@
                {
                    <div>
                        <span>@msg</span>
                    </div>
                }
        
                @if (forums == null)
                {
                    <span>Loading..</span>
                }
                else if (!forums.Any())
                {
                    <span>No forums to be found</span>
                }
                else
                {
                    @* <button @onclick="GotoCreatePost">Create Forum</button> *@
                    <div class="container-fluid">
        
                        @foreach (Forum forum in forums)
                        {
                            <div class="card my-5">
                                <div class="forum">
                                    <div class="card-title mx-2 my-1">
                                        <img class="image-clock mx-1" src="images/clock.png"/>@forum.CreatedOn |
                                        <img class="image-clock mx-1" src="images/author1.jpg"/>@forum.CreatedBy
        
                                    </div>
                                    <div class="card-title mx-2 h2"style="cursor: pointer" @onclick="() => OpenDetail(forum.Id)">
                                        @forum.Title
                                    </div>
                                    <div class="card-footer" style="background-color: #2002">
                                        <img class="rating" src="images/star.png" alt=""/>
                                        <img class="rating" src="images/star.png" alt=""/>
                                        <img class="rating" src="images/star.png" alt=""/>
                                    </div>
        
                                </div>
                            </div>
        
                        }
                    </div>
                }

    </NotAuthorized>
    
</AuthorizeView>


@code {

    [Parameter]
    public int Id { get; set; }

    private IEnumerable<Forum>? forums;
    private Forum forum;
    private string msg = "";
    private string title = "";
    private string body = "";


    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            forums = await ForumService.GetForums();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async void OpenDetail(int id)
    {
        navMgr.NavigateTo($"/ViewAll/{id}");
    }

    private void GotoCreateForum()
    {
        navMgr.NavigateTo("/CreateForum");
    }
    
}